@{
  Layout = "_Layout";
}
<hr />

<p>@Html.ActionLink("Create or manage an account", "Index", "Account")</p>

<p>To begin, click "Add Teams"</p>
<p>@Html.ActionLink("Add Teams", "Create", "Teams")</p>
<p>@Html.ActionLink("See All Teams", "Index", "Teams")</p>