@{
  Layout = "_Layout";
}

<H2>Bracket Tracker!</H2>
<hr />
<p>To begin, click "Add Teams"</p>

<hr />
<p>@Html.ActionLink("Add Teams", "Create", "Teams")</p>
<p>@Html.ActionLink("See All Teams", "Index", "Teams")</p>